<div style="margin-left: 2em;">
    <h1>About</h1>

    <p>This is the TodoList app v1.1.0. It is based on a Angular crash course</p>
    <p>The crash course is available on <a href="https://youtu.be/Fdf5aTYRW0E">youtube.com/Fdf5aTYRW0E</a></p>
    <p>The original project can be found on <a href="https://github.com/bradtraversy/angular-crash-todolist">github.com/bradtraversy/angular-crash-todolist</a></p>

    <br>
    <br>

    <h2>Changes on the original project</h2>
    <ul style="margin-left: 2em;">
        <li>Created own api using Django Rest Framework</li>
        <li>Added the functionality to edit the Todo text</li>
        <li>Minor layout changes, such as the checkbox which wasn't checked when an item was already completed</li>
    </ul>

</div>
